$icomoon-font-path: "../fonts" !default;

$tr-icon-user: "\f007";
$tr-icon-signal: "\f012";
$tr-icon-cog: "\f013";
$tr-icon-gear: "\f013";
$tr-icon-headphones: "\f025";
$tr-icon-qrcode: "\f029";
$tr-icon-bookmark: "\f02e";
$tr-icon-crosshairs: "\f05b";
$tr-icon-asterisk: "\f069";
$tr-icon-leaf: "\f06c";
$tr-icon-fire: "\f06d";
$tr-icon-plane: "\f072";
$tr-icon-calendar: "\f073";
$tr-icon-magnet: "\f076";
$tr-icon-key: "\f084";
$tr-icon-cogs: "\f085";
$tr-icon-gears: "\f085";
$tr-icon-comments: "\f086";
$tr-icon-filter: "\f0b0";
$tr-icon-chain: "\f0c1";
$tr-icon-link: "\f0c1";
$tr-icon-cloud: "\f0c2";
$tr-icon-flask: "\f0c3";
$tr-icon-paperclip: "\f0c6";
$tr-icon-magic: "\f0d0";
$tr-icon-truck: "\f0d1";
$tr-icon-money: "\f0d6";
$tr-icon-dashboard: "\f0e4";
$tr-icon-tachometer: "\f0e4";
$tr-icon-umbrella: "\f0e9";
$tr-icon-lightbulb-o: "\f0eb";
$tr-icon-stethoscope: "\f0f1";
$tr-icon-suitcase: "\f0f2";
$tr-icon-bell: "\f0f3";
$tr-icon-coffee: "\f0f4";
$tr-icon-cutlery: "\f0f5";
$tr-icon-ambulance: "\f0f9";
$tr-icon-medkit: "\f0fa";
$tr-icon-fighter-jet: "\f0fb";
$tr-icon-beer: "\f0fc";
$tr-icon-desktop: "\f108";
$tr-icon-laptop: "\f109";
$tr-icon-tablet: "\f10a";
$tr-icon-mobile: "\f10b";
$tr-icon-mobile-phone: "\f10b";
$tr-icon-gamepad: "\f11b";
$tr-icon-keyboard-o: "\f11c";
$tr-icon-flag-o: "\f11d";
$tr-icon-flag-checkered: "\f11e";
$tr-icon-terminal: "\f120";
$tr-icon-code: "\f121";
$tr-icon-location-arrow: "\f124";
$tr-icon-code-fork: "\f126";
$tr-icon-eraser: "\f12d";
$tr-icon-puzzle-piece: "\f12e";
$tr-icon-microphone: "\f130";
$tr-icon-shield: "\f132";
$tr-icon-fire-extinguisher: "\f134";
$tr-icon-anchor: "\f13d";
$tr-icon-unlock-alt: "\f13e";
$tr-icon-bullseye: "\f140";
$tr-icon-ticket: "\f145";
$tr-icon-eur: "\f153";
$tr-icon-euro: "\f153";
$tr-icon-gbp: "\f154";
$tr-icon-dollar: "\f155";
$tr-icon-usd: "\f155";
$tr-icon-dropbox: "\f16b";
$tr-icon-sun-o: "\f185";
$tr-icon-moon-o: "\f186";
$tr-icon-pagelines: "\f18c";
$tr-icon-wheelchair: "\f193";
$tr-icon-space-shuttle: "\f197";
$tr-icon-slack: "\f198";
$tr-icon-wordpress: "\f19a";
$tr-icon-bank: "\f19c";
$tr-icon-institution: "\f19c";
$tr-icon-university: "\f19c";
$tr-icon-paw: "\f1b0";
$tr-icon-spoon: "\f1b1";
$tr-icon-cube: "\f1b2";
$tr-icon-cubes: "\f1b3";
$tr-icon-automobile: "\f1b9";
$tr-icon-car: "\f1b9";
$tr-icon-tree2: "\f1bb";
$tr-icon-paper-plane: "\f1d8";
$tr-icon-send: "\f1d8";
$tr-icon-sliders: "\f1de";
$tr-icon-bomb: "\f1e2";
$tr-icon-futbol-o: "\f1e3";
$tr-icon-soccer-ball-o: "\f1e3";
$tr-icon-binoculars2: "\f1e5";
$tr-icon-plug: "\f1e6";
$tr-icon-newspaper-o: "\f1ea";
$tr-icon-wifi: "\f1eb";
$tr-icon-calculator: "\f1ec";
$tr-icon-eyedropper: "\f1fb";
$tr-icon-paint-brush: "\f1fc";
$tr-icon-area-chart: "\f1fe";
$tr-icon-pie-chart: "\f200";
$tr-icon-line-chart: "\f201";
$tr-icon-toggle-on: "\f205";
$tr-icon-bicycle: "\f206";
$tr-icon-bus: "\f207";
$tr-icon-diamond: "\f219";
$tr-icon-street-view: "\f21d";
$tr-icon-heartbeat: "\f21e";
$tr-icon-venus: "\f221";
$tr-icon-mars: "\f222";
$tr-icon-battery-3: "\f241";
$tr-icon-battery-three-quarters: "\f241";
$tr-icon-map-pin: "\f276";
$tr-icon-map-signs: "\f277";
$tr-icon-commenting: "\f27a";
$tr-icon-credit-card-alt: "\f283";
$tr-icon-usb: "\f287";
$tr-icon-shopping-bag: "\f290";
$tr-icon-shopping-basket: "\f291";
$tr-icon-hashtag: "\f292";
$tr-icon-envira: "\f299";
$tr-icon-wheelchair-alt: "\f29b";
$tr-icon-blind: "\f29d";
$tr-icon-volume-control-phone: "\f2a0";
$tr-icon-braille: "\f2a1";
$tr-icon-home: "\e900";
$tr-icon-home2: "\e901";
$tr-icon-home3: "\e902";
$tr-icon-office: "\e903";
$tr-icon-newspaper: "\e904";
$tr-icon-pencil: "\e905";
$tr-icon-quill: "\e907";
$tr-icon-eyedropper2: "\e90a";
$tr-icon-droplet: "\e90b";
$tr-icon-paint-format: "\e90c";
$tr-icon-image: "\e90d";
$tr-icon-images: "\e90e";
$tr-icon-camera: "\e90f";
$tr-icon-headphones2: "\e910";
$tr-icon-music2: "\e911";
$tr-icon-play: "\e912";
$tr-icon-video-camera: "\e914";
$tr-icon-dice: "\e915";
$tr-icon-pacman: "\e916";
$tr-icon-spades: "\e917";
$tr-icon-clubs: "\e918";
$tr-icon-diamonds: "\e919";
$tr-icon-bullhorn: "\e91a";
$tr-icon-connection: "\e91b";
$tr-icon-podcast: "\e91c";
$tr-icon-feed: "\e91d";
$tr-icon-mic: "\e91e";
$tr-icon-book2: "\e91f";
$tr-icon-books: "\e920";
$tr-icon-library: "\e921";
$tr-icon-profile: "\e923";
$tr-icon-file-empty: "\e924";
$tr-icon-files-empty: "\e925";
$tr-icon-file-text2: "\e926";
$tr-icon-file-picture: "\e927";
$tr-icon-file-music: "\e928";
$tr-icon-file-play: "\e929";
$tr-icon-file-video: "\e92a";
$tr-icon-file-zip: "\e92b";
$tr-icon-copy: "\e92c";
$tr-icon-paste: "\e92d";
$tr-icon-stack: "\e92e";
$tr-icon-folder: "\e92f";
$tr-icon-folder-open: "\e930";
$tr-icon-price-tag: "\e935";
$tr-icon-price-tags: "\e936";
$tr-icon-barcode: "\e937";
$tr-icon-qrcode2: "\e938";
$tr-icon-ticket2: "\e939";
$tr-icon-cart: "\e93a";
$tr-icon-coin-dollar: "\e93b";
$tr-icon-coin-euro: "\e93c";
$tr-icon-coin-pound: "\e93d";
$tr-icon-coin-yen: "\e93e";
$tr-icon-credit-card: "\e93f";
$tr-icon-calculator2: "\e940";
$tr-icon-lifebuoy: "\e941";
$tr-icon-phone: "\e942";
$tr-icon-phone-hang-up: "\e943";
$tr-icon-address-book: "\e944";
$tr-icon-envelop: "\e945";
$tr-icon-pushpin: "\e946";
$tr-icon-location: "\e947";
$tr-icon-location2: "\e948";
$tr-icon-compass: "\e949";
$tr-icon-compass2: "\e94a";
$tr-icon-map2: "\e94b";
$tr-icon-map22: "\e94c";
$tr-icon-history: "\e94d";
$tr-icon-clock: "\e94e";
$tr-icon-clock2: "\e94f";
$tr-icon-alarm: "\e950";
$tr-icon-bell2: "\e951";
$tr-icon-stopwatch: "\e952";
$tr-icon-printer: "\e954";
$tr-icon-keyboard: "\e955";
$tr-icon-display: "\e956";
$tr-icon-laptop2: "\e957";
$tr-icon-mobile2: "\e958";
$tr-icon-mobile22: "\e959";
$tr-icon-tablet2: "\e95a";
$tr-icon-tv: "\e95b";
$tr-icon-drawer: "\e95c";
$tr-icon-drawer2: "\e95d";
$tr-icon-box-add: "\e95e";
$tr-icon-box-remove: "\e95f";
$tr-icon-download: "\e960";
$tr-icon-upload: "\e961";
$tr-icon-floppy-disk: "\e962";
$tr-icon-drive: "\e963";
$tr-icon-database2: "\e964";
$tr-icon-undo: "\e965";
$tr-icon-redo: "\e966";
$tr-icon-bubble: "\e96b";
$tr-icon-bubbles: "\e96c";
$tr-icon-bubbles2: "\e96d";
$tr-icon-user2: "\e971";
$tr-icon-users: "\e972";
$tr-icon-user-tie: "\e976";
$tr-icon-hour-glass: "\e979";
$tr-icon-spinner: "\e97a";
$tr-icon-spinner2: "\e97b";
$tr-icon-spinner3: "\e97c";
$tr-icon-spinner4: "\e97d";
$tr-icon-spinner5: "\e97e";
$tr-icon-spinner6: "\e97f";
$tr-icon-spinner7: "\e980";
$tr-icon-spinner8: "\e981";
$tr-icon-spinner9: "\e982";
$tr-icon-spinner10: "\e983";
$tr-icon-spinner11: "\e984";
$tr-icon-binoculars: "\e985";
$tr-icon-search: "\e986";
$tr-icon-zoom-in: "\e987";
$tr-icon-zoom-out: "\e988";
$tr-icon-enlarge: "\e989";
$tr-icon-shrink: "\e98a";
$tr-icon-enlarge2: "\e98b";
$tr-icon-shrink2: "\e98c";
$tr-icon-key2: "\e98d";
$tr-icon-key22: "\e98e";
$tr-icon-lock: "\e98f";
$tr-icon-unlocked: "\e990";
$tr-icon-wrench: "\e991";
$tr-icon-equalizer: "\e992";
$tr-icon-equalizer2: "\e993";
$tr-icon-cog2: "\e994";
$tr-icon-cogs2: "\e995";
$tr-icon-hammer: "\e996";
$tr-icon-magic-wand: "\e997";
$tr-icon-aid-kit: "\e998";
$tr-icon-bug: "\e999";
$tr-icon-pie-chart2: "\e99a";
$tr-icon-stats-dots: "\e99b";
$tr-icon-stats-bars: "\e99c";
$tr-icon-stats-bars2: "\e99d";
$tr-icon-trophy: "\e99e";
$tr-icon-gift: "\e99f";
$tr-icon-glass2: "\e9a0";
$tr-icon-glass22: "\e9a1";
$tr-icon-mug: "\e9a2";
$tr-icon-spoon-knife: "\e9a3";
$tr-icon-leaf2: "\e9a4";
$tr-icon-rocket2: "\e9a5";
$tr-icon-meter: "\e9a6";
$tr-icon-meter2: "\e9a7";
$tr-icon-hammer2: "\e9a8";
$tr-icon-fire2: "\e9a9";
$tr-icon-lab: "\e9aa";
$tr-icon-magnet2: "\e9ab";
$tr-icon-bin: "\e9ac";
$tr-icon-briefcase: "\e9ae";
$tr-icon-truck2: "\e9b0";
$tr-icon-road: "\e9b1";
$tr-icon-accessibility: "\e9b2";
$tr-icon-target: "\e9b3";
$tr-icon-shield2: "\e9b4";
$tr-icon-power: "\e9b5";
$tr-icon-switch: "\e9b6";
$tr-icon-power-cord: "\e9b7";
$tr-icon-clipboard: "\e9b8";
$tr-icon-tree: "\e9bc";
$tr-icon-menu: "\e9bd";
$tr-icon-cloud2: "\e9c1";
$tr-icon-cloud-download: "\e9c2";
$tr-icon-cloud-upload: "\e9c3";
$tr-icon-cloud-check: "\e9c4";
$tr-icon-sphere: "\e9c9";
$tr-icon-earth: "\e9ca";
$tr-icon-link2: "\e9cb";
$tr-icon-flag2: "\e9cc";
$tr-icon-attachment: "\e9cd";
$tr-icon-eye2: "\e9ce";
$tr-icon-eye-blocked: "\e9d1";
$tr-icon-bookmark2: "\e9d2";
$tr-icon-bookmarks: "\e9d3";
$tr-icon-sun: "\e9d4";
$tr-icon-contrast: "\e9d5";
$tr-icon-brightness-contrast: "\e9d6";
$tr-icon-star-empty: "\e9d7";
$tr-icon-star-half: "\e9d8";
$tr-icon-star-full: "\e9d9";
$tr-icon-heart2: "\e9da";
$tr-icon-heart-broken: "\e9db";
$tr-icon-man: "\e9dc";
$tr-icon-woman: "\e9dd";
$tr-icon-man-woman: "\e9de";
$tr-icon-happy: "\e9df";
$tr-icon-smile: "\e9e1";
$tr-icon-tongue: "\e9e3";
$tr-icon-sad: "\e9e5";
$tr-icon-wink: "\e9e7";
$tr-icon-grin: "\e9e9";
$tr-icon-cool: "\e9eb";
$tr-icon-angry: "\e9ed";
$tr-icon-evil: "\e9ef";
$tr-icon-shocked: "\e9f1";
$tr-icon-baffled: "\e9f3";
$tr-icon-confused: "\e9f5";
$tr-icon-neutral: "\e9f7";
$tr-icon-hipster: "\e9f9";
$tr-icon-wondering: "\e9fb";
$tr-icon-sleepy: "\e9fd";
$tr-icon-frustrated: "\e9ff";
$tr-icon-crying: "\ea01";
$tr-icon-plus: "\ea0a";
$tr-icon-minus: "\ea0b";
$tr-icon-cross: "\ea0f";
$tr-icon-checkmark: "\ea10";
$tr-icon-spell-check: "\ea12";
$tr-icon-volume-medium: "\ea27";
$tr-icon-checkbox-checked: "\ea52";
$tr-icon-crop: "\ea57";
$tr-icon-make-group: "\ea58";
$tr-icon-scissors: "\ea5a";
$tr-icon-filter2: "\ea5b";
$tr-icon-font: "\ea5c";
$tr-icon-omega: "\ea66";
$tr-icon-sigma: "\ea67";
$tr-icon-table: "\ea70";
$tr-icon-table2: "\ea71";
$tr-icon-embed: "\ea7f";
$tr-icon-embed2: "\ea80";
$tr-icon-terminal2: "\ea81";
$tr-icon-amazon: "\ea87";
$tr-icon-google: "\ea88";
$tr-icon-facebook: "\ea90";
$tr-icon-twitter: "\ea96";
$tr-icon-github: "\eab0";
$tr-icon-tux: "\eabd";
$tr-icon-appleinc: "\eabe";
$tr-icon-android: "\eac0";
$tr-icon-windows8: "\eac2";